body {
  font-size: 10pt;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
}

p {
  padding-bottom: 15px;
}

a {
  color: #A56F38;
  text-decoration: none;
}

.clear {
  clear: both;
}

/* Headings. */

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Tahoma, Arial, Sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.11em;
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 4px;
  margin-top: 1px;
  margin-bottom: 10px;
}

h1 strong {
  font-style: italic;
  font-weight: bolder;
  padding-left: 7px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 3px;
}

/* Main layout. */

#wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

#navigation {
  float: left;
  width: 158px;
  border: 1px solid #EBEBEB;
  margin-right: 20px;
  padding: 2px 10px 10px 10px;
}

#main {
  float: right;
  width: 800px;
}

#footer {
  clear: both;
}

/* Flash messages. */

.flash {
  border: 1px dashed #000000;
  padding: 8px;
  margin-bottom: 10px;
  color: black;
}

#flash_notice {
  background-color: #8CDD81;
  border-color: #006400;
}

/* Navigation. */

#navigation ul {
  list-style: none;
}

#navigation li {
  padding: 8px 0;
  border-bottom: 1px dashed #EBEBEB;
}

#navigation li a {
  color: #666666;
}

#navigation li a:hover {
  color: #000000;
}

/* Tables. */

table {
  border: 1px solid #F0F0F0;
  width: 100%;
}

table th {
  background-color: #F0F0F0;
  font-weight: bold;
  padding: 10px 0px 13px 15px;
  text-align: left;
  letter-spacing: 0.1em;
}

table td {
  padding: 15px;
  vertical-align: middle;
}

/* Home panels. */

.panel {
  background-color: #f5f5f5;
  border: 1px solid #EBEBEB;
  color: #777777;
  padding: 10px;
  margin: 10px 0px;
}

.panel h2 {
  font-size: 1.2em;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 5px;
  padding-bottom: 2px;
  font-weight: bold;
}

/* Forms. */

input, select {
  border: 1px solid #D8D8D8;
  color: #ABABAB;
  padding: 5px;
  font-size: 1em;
  font-family: Verdana, sans-serif;
}

.form_field label {
  float: left;
  width: 150px;
  margin-top: 9px;
}

.form_field input,
.form_field select {
  float: left;
  width: 250px;
}

.form_field .clear {
  clear: both;
}

.form_buttons {
  margin-top: 10px;
  padding-left: 148px;
}

.form_buttons input {
  color: #555555;
}

/* Form errors. */

#errors {
  background-color: #F5F5F5;
  border: 1px solid #EBEBEB;
  padding: 15px;
  margin-bottom: 15px;
}

#errors ul li {
  margin: 4px 0;
}

/* Images. */

/* Generic styles in case there's a need for a "right" class too. */
.image_border_left {
  padding: 2px;
  display: inline-block;
  border: 1px solid #EBEBEB;
}

.image_border_left {
  float: left;
  margin-right: 5px;
}

/* Text styles. */

strong {
  font-weight: bold;
}
